<html>
    <head>

    </head>
    <body>
        <div>
            <form method="POST" action="/login">
                <p>Username:</p>
                <input type="text" id="username">
                <br>
                <p>password</p>
                <input type="password" id="password">
                <br>
                <button type="button" id ="login">Login</button>
            </form>
        </div>
    </body>
</html>